/*Veethacheng Thao*/
body{
  background: linear-gradient(to bottom right,#0ABFBC,#FC354C) fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

h1{
  font-family: Comic Sans MS;
  text-align: center;
  color: black;
}

p{
  font-family: Comic Sans MS;
  font-size: 150%;
  color: blue;
}
.red{
  color: red;
}
#center{
  text-align: center;
}
